*{
    box-sizing: border-box;
}
/****************************
            header
*****************************/
header{  background-color: #00748D;}
.header{
  
    padding-inline: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul{
    margin-left: 0;
    list-style-type: none;
    display: flex;
    gap: 1rem;
}
header .a{
    color: white;
    font-size: 2rem;

}
header a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: .9rem;
}
header a:hover,
header a:focus{
    background-color: white;
    color: #00748D;
}
header a.active{
    background-color: white;
    color: #00748D;
}
header span{
    color:#CB8606;
}
header li{
    padding: .5rem;
}

/* ******* Main ***********/
article{
    margin-inline: 15%;
}
.section section{
    background-color:   #f9f9f9;
    padding: 1.5rem;
}
article:first-child{
    background-image: url("./instructions/images/bg-header.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 600px;
    text-align: center;
    margin-top: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.x{
    background-image:url("./instructions/images/path.png");
    background-repeat: repeat-x;
    padding-bottom: .5rem;
}
.img h1{
    background-color: #CB8606;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    padding: .5rem;
}
.img p{
    background-color: white;
    color: #00748D;
    padding: .5rem;
    font-size: 20px;
    margin-top: 0;
}
article:nth-of-type(2),
article:nth-of-type(3){
    text-align: center;
}
.section{
    display: flex;
    gap: 2rem;
}
article:nth-of-type(2) i{
    background-color: #CB8606;
    color: white;
    padding: 1rem;  
}
article:nth-of-type(2) h1{
    color: #00748D;
}
span{
    color: #CB8606;
    font-weight: 700;    
}
article:nth-of-type(2) button{
    background-color: #00748D;
    border-color: #00748D;
    color: white;
    padding:.5rem 2rem ;
}
.section1{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.section1 img{
    width: 320px;
    border: 3px solid #00748D;
    flex-wrap: nowrap;
}
.art h1{
    color: #00748D;
    margin: 4rem;
}
.footer1{
    background-color: #00748D;
}
.footer{
    display: flex;
    background-color: #00748D;
    justify-content: space-between;
    margin-top: 5rem;
    padding: 1rem;
    padding-inline: 7rem;
}
.footer i{
    color:white;
    font-size: 2rem;
    letter-spacing: 1.5rem;
}
.ij{
    background-image: url("./instructions/images/path.png");
    background-repeat: repeat-x;
    padding-bottom: .5rem;
}
.span{
    color: white;
    font-size: 2rem;
}
.footerfooter{
    text-align: center;
    background-color: rgb(63, 60, 60);
    padding-bottom: 1rem;
    color: white;
}
.footerfooter img{
    width: 5%;
    margin-top: 25px;
}
.footerfooter p{
    font-size: 2rem;
}
body{
    font-family: Nunito;
    font-size: 18px;
    color: #414141;
}
h1,h2, nav ul a{
    font-family: 'fjalla one';
}

